body{
  background-color: pink;
  white-space:pre-wrap;
}

input{
  border: none;
  outline: none;
  background: none;
  width:100%;
}

.txt {
  font-size: .9em;
}

.lookup{
  font-family: monospace;
  background: aliceblue;
  padding: .2em 1em;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 0 pink;
}

.lookup:hover .tellButton{
  transform: scale(1.2);
}

.tellButton{
  background: violet;
  border-radius: 999px;
  width: 1.5em;
  height: 1.5em;
  font-size: .8em;
  cursor: pointer;
  margin-left: .5em;
  transition: all .2s ease-in-out;
}

.tellButton:hover{
  transform: scale(3) !important;
  background: violet !important;
}



.line-1-horizontal {
  --size: 30em;
  --stroke-width: 2px;
  --color: black;
  --animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
  --animation-duration: 2s;
  width: var(--size);
  height: var(--stroke-width);
  background-color: var(--color);
  transform: scaleX(0);
  transform-origin: center left;
  animation: var(--animation-timing-function) var(--animation-duration) infinite line-1-horizontal-animation;
}

@keyframes line-1-horizontal-animation {
  0% {
    transform: scaleX(0);
    transform-origin: center left;
  }

  50% {
    transform: scaleX(1);
    transform-origin: center left;
  }

  51% {
    transform: scaleX(1);
    transform-origin: center right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: center right;
  }
}